body {
  background: gray;
  margin: 0;
}

h1 {
  text-align: center;
  text-shadow: 0 0 6px #000;
  text-transform: uppercase;
  color: lightgray;
  font-size: 40px;
  font-family: monospace;
}

img {
  width: 100%;
}

h2 {
  background: brown;
  color: #fff;
  border-radius: 10px;
  padding: 10px 20px;
  margin-bottom: 0px;
}

h2:hover {
  background: #792020;
}

li:hover {
  color: #587e54;
}

h1:hover {
  color: #fff;
}

.groupe {
  align-items: center;
  display: flex;
  font-family: sans-serif;
  flex-direction: column;
  font-weight: bold;
}

ul {
  font-size: 20px;
  color: honeydew;
}

.img {
  align-items: center;
  height: 400px;
  width: 100%;
  display: flex;
  overflow: hidden;
}
