body {
  background: gray;
  margin: 0;
}

h1 {
  text-align: center;
  text-shadow: 0 0 10px #000;
  text-transform: uppercase;
  color: lightgray;
  font-size: 40px;
  font-family: monospace;
}

img {
  width: 100%;
}

h2 {
  background: brown;
  color: #fff;
  border-radius: 10px;
  padding: 10px 20px;
}



.groupe {
  align-items: center;
  display: flex;
  font-family: sans-sans-serif;
  flex-direction: column;
}

.img {
  align-items: center;
  height: 400px;
  width: 100%;
  display: flex;
  overflow: hidden;
}
